<launch>

<rosparam file="$(find snoopy_setup)/all_parameters.yaml" command="load"/>

<include file="$(find snoopy_teleop)/launch/teleop.launch" />

<node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
	<param name="serial_port"         type="string" value="/dev/ttyUSB0"/>  
	<param name="serial_baudrate"     type="int"    value="115200"/>
	<param name="frame_id"            type="string" value="laser_frame"/>
	<param name="inverted"            type="bool"   value="false"/>
	<param name="angle_compensate"    type="bool"   value="true"/>
</node>

<node pkg="snoopy_setup" name="tf_broadcaster" type="tf_broadcaster" />

<node pkg="snoopy_setup" name="laser_tf_listener" type="laser_tf_listener" />

<node pkg="snoopy_odom" name="dead_reck" type="dead_reck"/>

<node pkg="snoopy_map" type="ogm_server" name="ogm_server" output="screen"/>

<node pkg="snoopy_localize" type="particleFilter3" name="particleFilter" output="screen" />

<node pkg="snoopy_localize" type="pose_fusion" name="pose_fusion"/>

<node pkg="rviz" name="rviz" type="rviz" args="-d $(find snoopy_localize)/pf.rviz" />

</launch>
